/ospcu.ini
/sev_statement/dict_register_templatedocument.sql
/sev_statement/public.dict_register_product.sql
/sev_statement/public.dict_register_subscription.sql
/sev_statement/settings_dev.py
/media/
